html(lang='en')
  head
    title Picture Editor
    // META TAGS
    meta(name='description', content='Drum Kit')
    meta(name='author', content='James Scoggins')
    meta(name='keywords', content='picture, editor')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // BOOTSTRAP 4
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    // CUSTOM CSS
    link(rel='stylesheet', href='stylesheets/unified/styles.css')
  body
    // KEYS
    .container-fluid
        .row
            .col-md-12
                h2 Update CSS Variables With 
                  span.h1 JS
                .controls
                  label(for="spacing") Spacing
                  input#spacing(type="range", name="spacing", min="10", max="200", value="10", data-sizing="px")
                  
                  label(for="blur") Blur
                  input#blur(type="range", name="blur", min="0", max="25", value="10", data-sizing="px")
                      
                  label(for="base") Base Color
                  input#base(type="color", name="base", value="#ffc600")  
                
                img(src="./images/pictorama/chicago1.jpg" alt="Chicago from observation deck of John Hancock Building")


    script.
      const inputs = document.querySelectorAll(".controls input");
      
      function handleUpdate() {
        const suffix = this.dataset;
        
      }
      
      inputs.forEach(input => input.addEventListener("change", handleUpdate)); 
      inputs.forEach(input => input.addEventListener("mousemove", handleUpdate)); 
